body
{
    text-align: center;
    color: white;

    text-shadow: 0 0 4px black;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-weight: bold;
}

button
{
    width: 150px;
    margin: 10px 0;
    padding: 3px 10px;
    color: rgb(11, 68, 11);
    font-weight: bold;
    background-color: goldenrod;

    border-radius: 2px;

    border-color: goldenrod;
    

    
}

.main
{
    background-color: rgb(11, 68, 11);
    background-image: url("images/background.jpg");
    background-size: cover;

    border: 4px solid goldenrod;

    width: 300px;
    height: 320px;

    margin: 50px auto;
    padding: 5px 10px;

    border-radius: 5px;
    
}

p
{
    display: inline;
}

#title
{
    color: goldenrod;
}
#message-txt
{
    font-style: italic;
}

.card-scores
{
    margin-bottom: 10px;
}
